# SPDX-License-Identifier: MIT

source "Kconfig.board"
source "Kconfig.defconfig"

config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default n
    depends on ( BOARD_CORNEV5_LEFT || BOARD_CORNEV5_RIGHT ) && SOC_SERIES_NRF52X

config BOARD_CORNEV5_CHARGER
    bool "Enable battery charger"
    default y
    depends on ( BOARD_CORNEV5_LEFT || BOARD_CORNEV5_RIGHT )
